.main {
  background-color: #292727;
  width: 100%;
  color: white;
}

.title {
  padding: 2rem;
  width: 100%;
}

.row {
  margin: 0rem;
}

.subtitle {
  font-size: 4rem;
  width: 100%;
}

.condition {
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

.col-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

button {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1200px) {
  button {
    width: 25%;
  }
  .main {
    height: 100vh;
  }
  .title{
    text-align: left;
  }
  .subtitle {
    font-size: 6rem;
    width: 50%;
  }
}

@media only screen and (max-width: 1200px) {
  button {
    width: 50%;
  }
  .main {
    height: 100vh;
  }
  .title{
    text-align: center;
  }
  .subtitle {
    font-size: 4rem;
    width: 75%;
  }
}

@media only screen and (max-width: 500px) {
  button {
    width: 50%;
  }
  .main {
    height: fit-content
  }
  .title{
    text-align: center;
  }
  .subtitle {
    font-size: 3rem;
    width: 75%;
  }
}


.accent {
  color: #f17e91
}

.btn-nft {
  background-color: #f17e91;
}

.btn-nft:hover {
  background-color: #e95a74;
  text-transform: uppercase;
}

.btn-connect {
  background-color: #f17e91;
}

.btn-connect:hover {
  background-color: #e95a74;
  text-transform: uppercase;
}